@model ExpertUpdateVM
<h2>Update Expert</h2>
<form style="width: 26rem;" method="post">
    <!-- Name input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="ImagePath" asp-for="ImagePath" class="form-control" />
        <label class="form-label">ImagePath</label>
        <span asp-validation-for="ImagePath"></span>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <select id="ProfessionId" asp-for="ProfessionId" asp-items='@new SelectList(ViewBag.Profession,"Id","Name")' class="form-control"></select>
        <label class="form-label">ProfessionName</label>
        <span asp-validation-for="ProfessionId"></span>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <select id="SMLinkIds" asp-for="SMLinkIds" asp-items='@new SelectList(ViewBag.SM,"Id","SMLink")' class="form-control"></select>
        <label class="form-label">SmLinks</label>
        <span asp-validation-for="SMLinkIds"></span>
    </div>



    <!-- Submit button -->
    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
</form>
